<!------ Include the above in your HEAD tag ---------->

<section class="get-in-touch">
  <h1 class="title">Create Employee</h1>
  <form class="contact-form row">
    <div class="form-field col-lg-6">
      <input id="code" class="input-text js-input" type="text" required>
      <label class="label" for="code">code</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="Name" class="input-text js-input" type="text" required>
      <label class="label" for="Name">Name</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="birthday" class="input-text js-input" type="date" required>
      <label class="label" for="birthday">birthday</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="idCard" class="input-text js-input" type="number" required>
      <label class="label" for="idCard"> idCard</label>
    </div>
    <div class="form-field col-lg-6">
      <input id="salary" class="input-text js-input" type="number" required>
      <label class="label" for="salary">salary </label>
    </div>
    <div class="form-field col-lg-6">
      <input id="phone" class="input-text js-input" type="text" required>
      <label class="label" for="phone">phone </label>
    </div>
    <div class="form-field col-lg-6">
      <input id="email" class="input-text js-input" type="email" required>
      <label class="label" for="email">email</label>
    </div>
    <div class="form-field col-lg-6">
      <label class="label" for="division" style="margin-bottom: 17px;"> division</label>
      <select id="division" class="input-text js-input">
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
      </select>
    </div>
    <div class="form-field col-lg-12">
      <input id="address" class="input-text js-input" type="number" required>
      <label class="label" for="address">address </label>
    </div>

    <div class="form-field col-lg-6">
      <label class="label" for="position" style="margin-bottom: 17px;"> position</label>
      <select id="position" class="input-text js-input">
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
      </select>
    </div>
    <div class="form-field col-lg-6">
      <label class="label" for="educationDegree" style="margin-bottom: 17px;"> educationDegree</label>
      <select id="educationDegree" class="input-text js-input">
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
      </select>
    </div>

    <div class="form-field col-lg-12">
      <input class="submit-btn" type="submit" value="Submit">
    </div>
  </form>
</section>
