<!------ Include the above in your HEAD tag ---------->


<section class="get-in-touch">
  <h1 class="title">Create Contract</h1>
  <form class="contact-form row">
    <div class="form-field col-lg-6">
      <input id="startDate" class="input-text js-input" type="date" required>
      <label class="label" for="startDate">startDate</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="endDate" class="input-text js-input" type="date" required>
      <label class="label" for="endDate">endDate</label>
    </div>

    <div class="form-field col-lg-6">
      <label class="label" for="customer" style="margin-bottom: 17px;"> customer</label>
      <select id="customer" class="input-text js-input">
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
      </select>
    </div>
    <div class="form-field col-lg-6">
      <label class="label" for="employee" style="margin-bottom: 17px;"> employee</label>
      <select id="employee" class="input-text js-input">
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
      </select>
    </div>
    <div class="form-field col-lg-6">
      <label class="label" for="Service" style="margin-bottom: 17px;"> Service</label>
      <select id="Service" class="input-text js-input">
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
      </select>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="deposit" class="input-text js-input" type="number" required>
      <label class="label" for="deposit">deposit</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="totalMoney" class="input-text js-input" type="number" required>
      <label class="label" for="totalMoney">totalMoney</label>
    </div>
    <div class="form-field col-lg-12">
      <input class="submit-btn" type="submit" value="Submit">
    </div>
  </form>
</section>
