<h3>EMPLOYEE</h3>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">birthday</th>
    <th scope="col">idCard</th>
    <th scope="col">salary</th>
    <th scope="col">phone</th>
    <th scope="col">email</th>
    <th scope="col">address</th>
    <th scope="col">position</th>
    <th scope="col">education Degree</th>
    <th scope="col">division</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  </tr>

  </tbody>
</table>
