<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="get-in-touch">
  <h1 class="title">Create Customer</h1>
  <form class="contact-form row">
    <div class="form-field col-lg-6">
      <input id="code" class="input-text js-input" type="text" required>
      <label class="label" for="code">code</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="Name" class="input-text js-input" type="text" required>
      <label class="label" for="Name">Name</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="area" class="input-text js-input" type="number" required>
      <label class="label" for="area">area</label>
    </div>
    <div class="form-field col-lg-6 ">
      <input id="cost" class="input-text js-input" type="number" required>
      <label class="label" for="cost"> cost</label>
    </div>
    <div class="form-field col-lg-6">
      <input id="maxPeople" class="input-text js-input" type="number" required>
      <label class="label" for="maxPeople">max People</label>
    </div>
    <div class="form-field col-lg-6">
      <input id="standardRoom" class="input-text js-input" type="text" required>
      <label class="label" for="standardRoom">standard Room</label>
    </div>

    <div class="form-field col-lg-6">
      <input id="poolArea" class="input-text js-input" type="number" required>
      <label class="label" for="poolArea">pool Area</label>
    </div>
    <div class="form-field col-lg-6">
      <input id="numberOfFloors" class="input-text js-input" type="text" required>
      <label class="label" for="numberOfFloors">number Of Floors</label>
    </div>
    <div class="form-field col-lg-6">
      <label class="label" for="serviceType" style="margin-bottom: 17px;"> serviceType</label>
      <select id="serviceType" class="input-text js-input">
        <option value="" class="submit-btn">abc</option>
      </select>
    </div>
    <div class="form-field col-lg-6">
      <label class="label" for="rentType" style="margin-bottom: 17px;"> rentType</label>
      <select id="rentType" class="input-text js-input">
        <option value="" class="submit-btn">abc</option>
      </select>
    </div>

    <div class="form-field col-lg-12">
      <textarea id="descriptionOtherConvenience" class="input-text js-input" required></textarea>
      <label class="label" for="descriptionOtherConvenience">descriptionOtherConvenience</label>
    </div>
    <div class="form-field col-lg-12">
      <input class="submit-btn" type="submit" value="Submit">
    </div>
  </form>
</section>
