<div style="margin-left: 345px;margin-top: 15px">
  <router-outlet></router-outlet>
</div>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading"></h4>
  <p></p>
  <p class="mb-0"></p>
</div>
<table class="table table-bordered table-inverse table-responsive">
  <thead class="thead-inverse">
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td scope="row"></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td scope="row"></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
