<!------ Include the above in your HEAD tag ---------->


<section class="get-in-touch">
  <h1 class="title">Create Contract</h1>
  <form class="contact-form row">
    <div class="form-field col-lg-12">
      <input id="quatity" class="input-text js-input" type="number" required>
      <label class="label" for="quatity">quatity</label>
    </div>

    <div class="form-field col-lg-12">
      <label class="label" for="contract" style="margin-bottom: 17px;"> contract</label>
      <select id="contract" class="input-text js-input">
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
      </select>
    </div>

    <div class="form-field col-lg-12">
      <label class="label" for="attachService" style="margin-bottom: 17px;"> attachService</label>
      <select id="attachService" class="input-text js-input">
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
        <option value="" class="submit-btn">abc</option>
      </select>
    </div>

    <div class="form-field col-lg-12">
      <input class="submit-btn" type="submit" value="Submit">
    </div>
  </form>
</section>
